/* src/components/NavBar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #ffffff;
  /* border-bottom: 1px solid #0c3243; */
  color: #2d3748;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2b6cb0;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #2d3748;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-item {
  color: #4a5568;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.nav-item:hover {
  color: #2b6cb0;
  background-color: #edf2f7;
}

.active {
  font-weight: bold;
  color: hsl(211, 61%, 43%);
  background-color: #ffffff;
}

/* 모바일 반응형 */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-item {
    padding: 0.5rem 0;
  }
}
